{
  "presets": [ "env","react" ],
  "env": {
    "development": {
      "plugins":[["react-transform", {
        "transforms":[{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  },
  // npm install babel-plugin-import --save-dev 配置antd按需加载
  "plugins":[["import", {"libraryName": "antd", "style": "css"}]]
}